.container\\:layout
  position fixed
  top 0
  right 0
  height 100%
  overflow-y scroll
  overflow-x hidden
  background-color ui-color(base)

  &.two-column
    width 100%

  &.one-column
    width 200%

  &.one-column.left
    transform translate3d(50%, 0, 0)

  &.one-column.right
    transform translate3d(0, 0, 0)

  &.smartphone
    transition translate3d 250ms

  &.smartphone-not
    transition translateX 0
