.container\\:left-menu-default
  padding-bottom 50px

  .block\\:app-logo
    position relative

    img
      margin-left 10px
      height 100px
      width auto

    .text\\:version
      position absolute
      top 10px
      left 100px
      width 100px
      height 30px
      line-height 30px
      font-size 1.2rem
      color ui-color(red)

  // メニュー

  .block\\:menu-artwork
  .block\\:menu-network
  .block\\:menu-config
    ui-block()
    padding-left 0
    padding-right 0
    padding-bottom 0

    .input\\:list-item
      ui-block({reaction: true})
      color ui-color()
      padding 15px 10px
      border none
      text-align left
      cursor pointer
      &:first-child
        margin-top 0
      &.true
        background-color ui-color(base-select)

  // コピーライト

  .block\\:copyright
    ui-block()
    padding-top 40px

    .text\\:copyright
      font-size 0.8rem

      +responsive(portrait)
        text-align center
