.container\\:loading
  position relative

  .block\\:squares
    margin 25% auto auto
    width 140px
    height 140px
    borderRadius 2px
    opacity 0.95

  .block\\:square
    display inline-block
    vertical-align top
    width 20%
    height 20%
    transition-duration 100ms
