.container\\:login
  position relative
  padding-bottom 50px

  // タイトル

  .block\\:form-title
    ui-block()
    padding-top 10%

    .block\\:app-title
      position relative
      margin 0 auto
      max-width 300px

    .text\\:app-version
      position absolute
      top 0
      left 0
      width 100px
      height 30px
      color ui-color(error)

    .text\\:app-name
      padding-top 10px
      line-height 30px
      font-size 30px
      text-align center
      color ui-color(primary)
      letter-spacing 6px

      strong
        opacity 0.4
        color ui-color()
        font-size 25px

    .text\\:app-description
      padding 10px 0 0
      line-height 20px
      font-size 10px
      text-align center
      font-weight bold
      color ui-color(primary)
      letter-spacing 4px

  // ログイン

  .block\\:form-login
  .block\\:form-register

    .input\\:cancel
      ui-input-button()
      display block
      width 100px

    .input\\:next
      ui-input-button()
      display block
      margin 10px 0 0 auto
      width 100px

    .input\\:data
      ui-input-text()
      margin-top 10px
      max-width none

    // チャンネル

    .block\\:channel
      margin 10px 0 0 0

      .text\\:channel-title
        ui-label()
        display inline-block
        vertical-align top

      .input\\:select
        ui-input-select()
        display inline-block
        vertical-align top

    .text\\:error
      display block
      margin-top 10px
      height 30px
      line-height 30px
      color ui-color(error)

  // レジスタ

  .block\\:form-register
    ui-block()
    margin 20px auto auto
    max-width 300px

  // ログイン

  .block\\:form-login
    ui-block()
    margin 20px auto auto
    max-width 300px

    .block\\:login-or-register
      margin 20px auto auto
      text-align right

      .text\\:or-login
        display inline-block
        vertical-align top
        width 80px
        text-align center
        line-height 30px

      .input\\:register
        ui-input-button()
        display inline-block
        vertical-align top
        width 110px

  // アプリの説明

  .block\\:form-description-list
    margin-top 50px

    .block\\:form-description
      ui-block({reaction: true})

    .text\\:title
      line-height 25px
      font-weight bold
      font-size 1rem

    .text\\:inline
      display inline-block
      vertical-align top
      line-height 30px
      padding-left 10px

    .text\\:description
      padding 5px 0 0 0
      line-height 25px
