.container\\:navigation-swipe
  position fixed
  right 15px
  bottom 15px
  padding 5px
  width 140px
  height 40px
  line-height 30px
  text-align center
  border-radius 1px
  box-shadow 0 0 1px 1px alpha(black, 0.1)
  z-index 400
  background ui-color()
  opacity 0.9

  div
    display inline-block
    vertical-align top
    color white
    text-align center
    font-size 1.1rem

  .text\\:swipe
    padding-right 5px
    vertical-align top