.container\\:network-list
  position relative
  padding-bottom 50px

  // リスト

  .block\\:network-item

    .block\\:layout
      ui-block()
      position relative
      padding 20px 10px 20px 10px
      max-width 100%
      cursor pointer
      &:hover
        background-color ui-color(base-select)

  // リストのタイトル

  .block\\:network-name

    .text\\:univ
      font-weight bold
      color ui-color(secondary)

    // リストの名前

    .text\\:network-name
      width 100%
      font-size 1rem
      color ui-color(primary)
      font-weight bold

    // リストのヘッダー写真

    .image\\:network-name
      position relative
      margin-top 5px
      width 100%
      max-width 600px
      height 200px
      background-color skyblue
      background-position center center
      background-size cover
      border-radius 4px
      cursor pointer
      &:hover
        opacity 0.9
      +responsive(portrait)
        height 180px

  // リストの情報

  .block\\:network-description

    .text\\:network-description
      margin-top 5px
      height auto
      word-wrap break-word
      white-space pre-wrap
      color ui-text-color(secondary)

  // メッセージなし

  .block\\:no-post
    ui-block()

    .text\\:no-post
      text-align center
