.container\\:network-edit
  position relative
  padding-bottom 50px

  .block\\:network-name
  .block\\:network-header
  .block\\:network-description
  .block\\:network-number
  .block\\:network-region
  .block\\:network-place
  .block\\:network-site
  .block\\:network-email
  .block\\:network-twitter
  .block\\:network-tags
    ui-block()

    .text\\:input-title
      font-size 1rem
      font-weight bold

  // リストの名前

  .block\\:network-name

    .text\\:network-name
      width 100%
      line-height 40px
      text-align center
      font-weight bold
      font-size 1.2rem
      color ui-color(primary)

  // ヘッダー画像

  .block\\:network-header

    .input\\:dropzone
      position relative
      max-width 100%
      height 200px

    .image\\:header
      width 100%
      height 100%
      background-position center
      background-size cover
      border dashed 2px rgba(0 0 0 0.4)
      border-radius 2px
      overflow hidden
      cursor pointer

    .text\\:dropzone-name
      position absolute
      margin auto
      top 0
      bottom 0
      width 100%
      height 30px
      font-size 1.6rem
      letter-spacing 2px
      text-align center
      line-height 30px
      color white
      cursor pointer

    .text\\:dropzone-description
      margin-top 10px
      text-align center
      line-height 20px
      font-size 0.8rem
      font-weight bold
      +responsive(portrait, smartphone)
        font-size 0.6rem

    .text\\:dropzone-description.true
      color tomato

    .text\\:description
      line-height 30px

  // リストの説明

  .block\\:network-description

    .input\\:network-description
      ui-input-textarea()
      margin-top 10px

  // 地域

  .block\\:network-region

    .input\\:text
      ui-input-select()
      margin-top 10px

  // 活動場所

  .block\\:network-place
    ui-block()

    .input\\:text
      ui-input-text()
      margin-top 10px

  // webサイト

  .block\\:network-site

    .input\\:text
      ui-input-text()
      margin-top 10px

  // メールアドレス

  .block\\:network-email

    .input\\:text
      ui-input-text()
      margin-top 10px

  // Twitter

  .block\\:network-twitter

    .input\\:text
      ui-input-text()
      display inline-block
      vertical-align top
      margin-top 10px
      width auto
      line-height 1.5rem

    .text\\:inline
      display inline-block
      vertical-align top
      margin-top 10px
      padding-right 5px
      line-height 30px
      font-weight bold

  // ハッシュタグ

  .block\\:network-tags

    .block\\:hashtag
      margin-top 10px
      width 280px

    .text\\:hash
      display inline-block
      vertical-align top
      width 20px
      line-height 30px
      font-size 18px
      color ui-color()

    .input\\:hashtag
      ui-input-text()
      display inline-block
      vertical-align top
      width 240px
      text-align left
