.container\\:not-found

  .text\\:number
    position relative
    margin 25% auto auto
    width 240px
    height 100px
    font-size 80px
    line-height 100px
    text-align center
    color ui-color(primary)
