.container\\:profile
  position relative
  padding-bottom 50px

  .block\\:user-icon
  .block\\:region
  .block\\:status
  .block\\:name
  .block\\:email
  .block\\:createdAt
    ui-block()

  .block\\:user-icon

    .block\\:squares
      margin 0 auto
      width 180px
      height 180px
      border-radius 2px

    .block\\:square
      display inline-block
      vertical-align top
      width 20%
      height 20%

  // 地区

  .block\\:region
    .text\\:region
      text-align center
      font-weight bold

  // 名前

  .block\\:name
    padding-top 20px

    .text\\:username
      font-size 1rem
      line-height 30px
      text-align center

    .text\\:name
      font-size 2rem
      font-weight bold
      text-align center
      line-height 50px

  // ステータス

  .block\\:status
    display flex
    flex-wrap wrap
    justify-content space-around

    .block\\:fun
    .block\\:links
    .block\\:level
      width 90px
      height 80px

    .text\\:fun-number
      height 50px
      line-height 50px
      text-align center
      background-color alpha(black, 0.05)
      color ui-color()
      font-size 1.4rem
      font-weight bold

    .text\\:fun-name
      height 30px
      line-height 30px
      text-align center
      font-weight bold

  // フォロ

  .block\\:follow
    ui-block()

    .input\\:follow
      ui-input-button()
      display block
      margin 0 auto
      width 240px

  // 投稿

  .block\\:post-list
    margin-top 20px

  .text\\:page-description
    ui-block()
    text-align center
