.container\\:release
  position relative
  padding-bottom 50px

  .block\\:release
    ui-block({reaction: true})

    .text\\:version
      font-size 3rem
      font-weight normal
      line-height 40px
      text-align left
      color ui-color(primary)

    .text\\:description
      padding-left 20px
      padding-top 20px
      text-align left
