.container\\:report
  position relative
  padding-bottom 50px

  .block\\:report
    ui-block({reaction: true})

    .text\\:number
      font-size 3rem
      font-weight normal
      line-height 40px
      text-align left
      color ui-color(primary)

    .text\\:description
      padding-left 20px
      padding-top 10px
      text-align left
