.container\\:thread-list
  padding-bottom 50px

  // スレッド一覧

  .block\\:thread-list

    .block\\:tag-name
      ui-block()
      padding-top 0
      padding-left 0

    .text\\:tag-name
      ui-text()
      margin-top 5px
      margin-left 10px
      font-size 1rem
      font-weight bold

    .input\\:thread-item
      ui-block({reaction: true})

    .text\\:thread-name
      color ui-text-color(secondary)

    .text\\:count
      display inline
      font-size 1rem
      color ui-color(red)

    .text\\:updatedAt
      display inline-block
      vertical-align bottom
      font-size 0.7rem

    .text\\:since
      display inline-block
      vertical-align bottom
      padding-left 10px
      font-size 0.7rem
      opacity 0.6

  // メッセージなし

  .block\\:no-post
    ui-block()

    .text\\:no-post
      text-align center

  // エラー

  .block\\:error-thread
    ui-block()
    padding-top 0

    .text\\:error-thread
      ui-text()
      color ui-color(red)
