.ui-block
  ui-block()

.ui-block:reaction
  ui-block({reaction: true})

.ui-input-button
  ui-input-button()
  
.ui-input-button:on
  ui-input-button-on()

.ui-input-button:off
  ui-input-button-off()
  
.ui-input-text
  ui-input-text()