{
  "presets": [
    "meteor",
    "react"
  ],
  "plugins": [
    "syntax-flow",
    "transform-flow-strip-types",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-function-bind",
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }
    ]
  ]
}
