@import 'design'

init-color({
  base: #F8F7F8
  primary: #00afcc
  secondary: #4496d3
  attention: tomato
  warning: yellow
  error: tomato
  red: lightcoral
  blue: lightskyblue
})

init-color-text({
  primary: #00afcc
  secondary: alpha(black, 0.65)
  disabled: alpha(black, 0.6)
  link: dodgerblue
  link-hover: tomato
})

reset-app()

reset-text()

@import 'imports/*'
