reset-text()
  h1, h2, h3, h4, h5, h6
  p
  a
  div
  pre
  code
  span
  input
  button
  li
  select
  textarea
  strong
    color ui-text-color()

  a
    color ui-text-color(link)
    cursor pointer
    &:hover
      color ui-text-color(link-hover)
