ui-input-text(req = {})

  $color = req['color'] || primary
  $minimal = req['minimal'] || false

  width 100%
  max-width 280px
  background-color alpha(black, 0.05)
  border-radius 2px
  cursor pointer
  transition-duration 200ms
  if ($minimal)
    padding 2.5px 10px
    height 25px
    line-height 15px
  else
    padding 5px 10px
    height 30px
    line-height 20px

  &:placeholder-shown
    color alpha(ui-color(primary), 0.6)

  &:hover:placeholder-shown
    color alpha(ui-color(primary), 0.8)

  &:focus:placeholder-shown
    color alpha(white, 0.8)

  &::-webkit-input-placeholder
    color alpha(ui-color(primary), 0.6)

  &:hover::-webkit-input-placeholder
    color alpha(ui-color(primary), 0.8)

  &:focus::-webkit-input-placeholder
    color alpha(white, 0.8)

  &::-moz-placeholder
    color alpha(ui-color(primary), 0.6)

  &:hover::-moz-placeholder
    color alpha(ui-color(primary), 0.8)

  &:focus::-moz-placeholder
    color alpha(white, 0.8)

  &:-ms-input-placeholder
    color alpha(ui-color(primary), 0.6)

  &:hover:-ms-input-placeholder
    color alpha(ui-color(primary), 0.8)

  &:focus:-ms-input-placeholder
    color alpha(white, 0.8)

  &:hover
    background-color alpha(black, 0.1)

  &:focus
    cursor auto
    color white
    background-color ui-color(primary)
