ui-text(req = {})

  $minimal = req['minimal'] || false

  display block
  vertical-align top
  if ($minimal)
    height 25px
    line-height 25px
  else
    height 30px
    line-height 30px

ui-text-title(req = {})

  $size = req['size'] || L

  if ($size == L)
    height 30px
    line-height 30px
    font-size 30px
  else
    height 0.8rem
    line-height 0.8rem
    font-size 0.8rem

  text-align center
